<h3 id="{{element.name}}" class="literal">
    <span class="kind">{{element.kind}}</span>
    <span class="name">{{element.name}}</span
   ><span ng-if="element.params || (element.kind == 'function') || (element.kind == 'class')"
     ><span>(</span
     ><span ng-repeat="param in element.params"
       ><span ng-if="!$first">,&nbsp;</span
       ><span class="param">{{param.name}}</span
     ></span>)</span
   ></span
   ><span class="types" ng-if="element.type.names"
     ><span class="type" ng-repeat="type in element.type.names" ng-bind-html="type|type"></span
   ></span
   ><span class="extra" ng-if="element.scope == 'static'">static</span
   ><span class="extra" ng-if="element.readonly">read-only</span>
</h3>

<div class="details">
  <div class="description" ng-bind-html="element.description|html"></div>

  <div ng-if="element.params">
    <h4>Parameters</h4>
    <ul class="parameters">
      <li ng-repeat="param in element.params">
        <span class="types" ng-if="param.type"
            ><span class="type" ng-repeat="type in param.type.names" ng-bind-html="type|type"></span
        ></span>
        <span class="name">{{param.name}}</span>
        <span ng-if="param.optional" class="extra">optional</span>
        <span ng-bind-html="param.description|html"></span>
      </li>
    </ul>
  </div>

  <div ng-if="element.returns">
    <h4>Returns</h4>
    <ul class="returns">
      <li ng-repeat="return in element.returns">
        <span class="types" ng-if="return.type"
           ><span class="type" ng-repeat="type in return.type.names" ng-bind-html="type|type"></span
        ></span>
        <span ng-bind-html="return.description|html"></span>
      </li>
    </ul>
  </div>

  <div ng-if="element.exceptions">
    <h4>Exceptions</h4>
    <ul class="exceptions">
      <li ng-repeat="exception in element.exceptions">
        <span class="types" ng-if="exception.type"
           ><span class="type" ng-repeat="type in exception.type.names" ng-bind-html="type|type"></span
        ></span>
        <span ng-bind-html="exception.description|html"></span>
      </li>
    </ul>
  </div>

  <div ng-if="element.examples">
    <h4>Examples</h4>
    <div ng-include="'templates/content-example.html'" ng-repeat="example in element.examples"></div>
  </div>
</div>
