<h1 class="literal">
  <span class="kind">class</span>
  <span class="prefix" ng-if="doclet.$prefix">{{doclet.$prefix}}.</span
  ><span class="name">{{doclet.name}}</span>
</h1>

<div ng-if="doclet.classdesc" ng-bind-html="doclet.classdesc|html"></div>

<div ng-if="doclet.description||doclet.params">
  <h2>Constructor</h2>
  <div ng-include="'templates/content-element.html'" ng-repeat="element in [doclet]"></div>
</div>

<div ng-if="elements.function">
  <h2>Functions</h2>
  <div ng-include="'templates/content-element.html'" ng-repeat="element in elements.function"></div>
</div>

<div ng-if="elements.member">
  <h2>Members</h2>
  <div ng-include="'templates/content-element.html'" ng-repeat="element in elements.member"></div>
</div>

<div ng-if="elements.event">
  <h2>Events</h2>
  <div ng-include="'templates/content-element.html'" ng-repeat="element in elements.event"></div>
</div>

<div ng-if="doclet.examples">
  <h2>Examples</h2>
  <div ng-include="'templates/content-example.html'" ng-repeat="example in doclet.examples"></div>
</div>
